body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("https://thumbs.dreamstime.com/b/c%C3%B3digo-fonte-e-papel-de-parede-do-desktop-pela-linguagem-programa%C3%A7%C3%A3o-com-codi-124934719.jpg") no-repeat center center fixed;
  background-size: cover; /* imagem cobre toda a tela */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: #000000;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
}

.link img {
  width: 22px;
  height: 22px;
}

/* Botões */
.whatsapp {
  background: #25D366;
  color: black;
}
.whatsapp:hover {
  background: #1ebe5d;
}

.github {
  background: #333;
  color: white;
}
.github:hover {
  background: #444;
}

.linkedin {
  background: #0077b5;
  color: white;
}
.linkedin:hover {
  background: #006097;
}
